In [75]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [76]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hofn,IS,2021-10-26 03:35:13,64.2539,-15.2082,40.66,71,48,7.47
1,1,Acapulco,MX,2021-10-26 03:35:14,16.8634,-99.8901,78.42,86,94,1.92
2,2,Grindavik,IS,2021-10-26 03:35:14,63.8424,-22.4338,37.35,87,75,8.05
3,3,Kungurtug,RU,2021-10-26 03:35:14,50.5994,97.5228,42.93,38,14,0.96
4,4,Upernavik,GL,2021-10-26 03:35:15,72.7868,-56.1549,14.72,55,11,7.14

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat","Lng"]] 
locations

         Lat       Lng
0    64.2539  -15.2082
1    16.8634  -99.8901
2    63.8424  -22.4338
3    50.5994   97.5228
4    72.7868  -56.1549
..       ...       ...
546  22.9333   57.5333
547  45.4094  141.6739
548  40.0833 -105.3505
549  41.1231   80.2644
550  45.5198 -123.1107

[551 rows x 2 columns]

In [44]:
temperatures = city_data_df["Max Temp"]
temperatures

0      40.66
1      78.42
2      37.35
3      42.93
4      14.72
       ...
546    78.89
547    60.78
548    58.82
549    52.30
550    52.99
Name: Max Temp, Length: 551, dtype: float64

In [46]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]] 
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
heatmap_layer = gmaps.heatmap_layer(locations)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

0      40.66
1      78.42
2      37.35
3      42.93
4      14.72
       ...
546    78.89
547    60.78
548    58.82
549    52.30
550    52.99
Name: Max Temp, Length: 551, dtype: float64

In [60]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
# fig = gmaps.figure() first Code
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) First Code
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius= 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [68]:
# HeatMap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius= 4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [71]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Acapulco,MX,2021-10-26 03:35:14,16.8634,-99.8901,78.42,86,94,1.92
9,9,Itarema,BR,2021-10-26 03:35:17,-2.9248,-39.9167,79.50,73,23,15.99
10,10,Hambantota,LK,2021-10-26 03:30:50,6.1241,81.1185,79.14,100,90,2.30
28,28,Qui Nhon,VN,2021-10-26 03:35:24,13.7667,109.2333,76.55,91,100,18.32
31,31,Hilo,US,2021-10-26 03:35:25,19.7297,-155.0900,76.73,87,75,8.05
33,33,Namatanai,PG,2021-10-26 03:35:26,-3.6667,152.4333,84.04,64,71,4.70
36,36,Bambous Virieux,MU,2021-10-26 03:35:28,-20.3428,57.7575,75.22,83,40,14.97
37,37,Caruray,PH,2021-10-26 03:35:28,10.3094,119.0128,86.54,69,100,2.66
42,42,Rikitea,PF,2021-10-26 03:35:31,-23.1203,-134.9692,75.78,72,76,15.73
45,45,Kavaratti,IN,2021-10-26 03:35:32,10.5669,72.6420,81.88,75,100,14.58

In [72]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [73]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1          Acapulco      MX     78.42  16.8634  -99.8901
9           Itarema      BR     79.50  -2.9248  -39.9167
10       Hambantota      LK     79.14   6.1241   81.1185
28         Qui Nhon      VN     76.55  13.7667  109.2333
31             Hilo      US     76.73  19.7297 -155.0900
33        Namatanai      PG     84.04  -3.6667  152.4333
36  Bambous Virieux      MU     75.22 -20.3428   57.7575
37          Caruray      PH     86.54  10.3094  119.0128
42          Rikitea      PF     75.78 -23.1203 -134.9692
45        Kavaratti      IN     81.88  10.5669   72.6420

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NewError):
        print("Hotel not found... skipping.")

In [95]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Acapulco,MX,78.42,16.8634,-99.8901,HS Hotsson Smart Acapulco
9,Itarema,BR,79.50,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
10,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
28,Qui Nhon,VN,76.55,13.7667,109.2333,Hoang Yen Canary Hotel
31,Hilo,US,76.73,19.7297,-155.0900,Hilo Hawaiian Hotel
33,Namatanai,PG,84.04,-3.6667,152.4333,Seagulls Inn Namatani
36,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
37,Caruray,PH,86.54,10.3094,119.0128,
42,Rikitea,PF,75.78,-23.1203,-134.9692,People ThankYou
45,Kavaratti,IN,81.88,10.5669,72.6420,Hotels in Lakshadweep Islands

In [96]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [100]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [101]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))